﻿@using CSharpTestTask.Models;
@model CSharpTestTask.Models.ViewTaskModel

@{
    ViewBag.Title = "C# Test Task";

}

<div class="jumbotron">
    <h1>C# Test Task</h1>
    <p class="lead">The task is to create an ASP.NET project displaying at least two different views containing information from xml files.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product List</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Popular</th>
            </tr>
            @foreach (ProductList list in Model.ProductLists)
            {
                <tr>
                    <td>@list.Title</td>
                    <td>@list.Description</td>
                    <td>@list.Image</td>
                    <td>@list.Price</td>
                    <td>@list.Sorting</td>
                </tr>
            }
        </table>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Product Detail</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Specs</th>
                <th>Availability</th>
            </tr>
            @foreach (ProductDetail detail in Model.ProductDetails)
            {
                <tr>
                    <td>@detail.Title</td>
                    <td>@detail.Description</td>
                    <td>@detail.Image</td>
                    <td>@detail.Specs</td>
                    <td>@detail.Availability</td>
                </tr>
            }
        </table>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
