﻿@model IEnumerable<CSharpTestTask.Models.ProductsModel>
@{
    ViewBag.Title = "Product List";
}
<h2>Display Product Information</h2>
@using (Html.BeginForm("Upload", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="upload_file">
        <input type="file" id="fileUpload" name="fileUpload" style="float:left" /><input type="submit" value="Display Product Information" />
    </div>
    <br />
    if (@ViewBag.ShowList)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>Sorting</th>
                <th>Specs</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Popular)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spec)<br />
                    </td>
                </tr>
            }
        </table>
    }
}
